<div class="post-item">
    <div class="ui grid">
        <div class="four wide column">
            <a href="" class="avatar" data-title={{author.name}} data-content={{author.bio}}><img class="avatar" src="/images/{{author.avatar}}"></a>
        </div>
        <div class="eight wide column">
            <div class="ui segment">
                <h3><a href="/post/detail/{{this._id}}">{{this.title}}</a></h3>
                <p>{{this.content}}</p>
                <div>
                    <span class="tag">{{#formatDate this.createdAt}}{{/formatDate}}</span>
                    <span class="tag right" style="float: right;">
                            <span>浏览 {{this.pv}}</span>
                            <span>评论 {{this.commentCount}}</span>
                        {{#if this.isSelf}}
                        <div class="ui inline dropdown">
                            <div class="text">操作</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item"><a href="/post/remove/{{this._id}}">删除</a></div>
                            </div>
                        </div>
                        {{/if}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

